*, *::before, *::after {margin: 0; padding: 0; box-sizing: inherit;}
html {scroll-behavior: smooth;}

body {background-color: #dfebced5;}

/********** HEADER **********/
#top-header {
    position: sticky;
    top: 0;
    padding: 10px;
    filter: drop-shadow(3px 3px 8px #000000)
}

header {
    background-color: #868b809b;
    font-family: cursive;
}

header > h1, header > p {
    color: #9ecd26e0;
}

header > h1 {
    font-size: calc(30px + 2vw);
    font-weight: 700;
}

/********** NAV **********/
nav > button {
    padding: 10px 30px;
    background-color: #e8ebe4da;
}

nav > button:first-child {
    color: #779b1d;
}

nav >button:nth-child(2) {
    color: rgb(135, 40, 69);
}

/********** LISTINGS **********/
div > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

/********** LISTING > CARD **********/
.card {
    flex: 1 0 250px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #6b8e12;
}

.card img {
    width: 25%;
}

.card h3 {
    font-weight: 700;
}

details {
    margin-top: 15px;
    margin: 5px;
}